.form-group(rv-show="element.show")
  label(rv-for="options.name", data-show="options.label") {options.label}
  p.help-block(data-show="options.help") {options.help}
  select(class="form-control" rv-name="element#getElName" rv-id="element#getElId" rv-value="element:value")
    option(rv-each-option="options.options" rv-value="option.value") {option.label}
  .error-wrapper
    .error(rv-each-error="element.errors" class="alert alert-danger shake animated") {error}